@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(13, 17, 23, 1);
    font-family: 'Fira Code', monospace;
    overflow-x: hidden;
}


.topnav {
    background-color: rgb(67, 146, 7);
    overflow: hidden;
}

.topnav a{
    float: left;
    color: rgb(101, 30, 156);
    padding: 6px 8px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(101, 30, 156);
    color: rgb(67, 146, 7);
}

.topnav a.active {
    background-color: rgb(101, 30, 156);
    color: rgb(67, 146, 7);
}

.container{
    width: 95%;
    padding: 1em;
    font-size: 0.9em;   
    color: white;
}
.container a{
    text-decoration: none;
    color: white;
}
.container a:hover{
    text-decoration: underline;
}

.container.myroom {
    margin: 0 auto; /* Center horizontally */
    width: fit-content; /* Dynamically fit content */
    text-align: center; /* Center child text */
    display: block;
    padding: 0% 0% 0% 0%;
}

@media (min-width: 768px) {
    .container {
    font-size: 1.5em;
    width: 80%;
    padding: 0px 20% 0px 10%;
    }
    .topnav a{
        font-size: 1.2em;
        padding: 14px 16px;
    }
  }
@media (min-width: 1500px) {
    .container {
    font-size: 2em;
    width: 70%;
    padding: 0px 30% 0px 10%;
    }
    .topnav a{
        font-size: 1.5em;
        padding: 18px 20px;
    }
}

