<!DOCTYPE html>
<html>
<head>
    <title>Voziyan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="topnav">
        <a href="{{home_url}}">home</a>
        <a class="active" href="">about me</a>
        <a href="">my projects</a>
        <a href="">pictures</a>
        <a href="{{myroom_url}}">MyRoom</a>
    </div>
    <div id="text_div">
        <h1>About me</h1>
        <p>
            I've lived in Moscow for 15 years before moving to Finland in August 2023. In russia I used to compete in a lot of different olympiads, mostly Physics, Robotics and Economics. Here, in Finland I went to vasa Övningskola to study in IB and I've been studying here ever since. I am supposed to graduate in 2026.
        </p>
        <h2>My hobbies</h2>
        <ul>
            <li>Gym</li>
            <li>robotics</li>
            <li>coding</li>
            <li>cycling</li>
        </ul>
    </div>
</body>
</html>