<!DOCTYPE html>
<html>
<head>
    <title>Voziyan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="topnav">
        <a href="{{home_url}}">home</a>
        <a class="active" href="">about</a>
        <a href="{{projects_url}}">my projects</a>
        <a href="{{pictures_url}}">pictures</a>
        <a href="{{myroom_url}}">MyRoom</a>
    </div>
    <div class="container">
        <h1>About me</h1>
        <p>
            I spent the first 15 years of my life in Moscow, Russia, before moving to Finland in August 2023. During my time in Russia, I actively competed in various academic Olympiads, excelling in Physics, Robotics, and Economics. Since moving to Finland, I’ve been studying at Vasa Övningskola in the International Baccalaureate (IB) program, where I’m set to graduate in 2026.
        </p>
        <h2>My hobbies</h2>
        <ul>
            <li>Gym</li>
            <li>robotics</li>
            <li>coding</li>
            <li>cycling</li>
        </ul>
        <h2>Languages</h2>
        <ul>
            <li>Russian - native</li>
            <li>English - fluent</li>
            <li>Finnish - A2</li>
            <li>German - A2</li>
        </ul>
    </div>
</body>
</html>