<!DOCTYPE html>
<html>
<head>
    <title>Voziyan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="">home</a>
        <a href="{{about_url}}">about</a>
        <a href="{{projects_url}}">my projects</a>
        <a href="{{pictures_url}}">pictures</a>
        <a href="{{myroom_url}}">MyRoom</a>
    </div>
    <div class="container">
        <h1>Hello</h1>
        <p>
            My name is Anton, originally I am from Moscow, Russsia. Currently I live in Finland. As for now I am studying in high-school. I am planning on becoming an engineer in the future.
        </p>
        <h2>Links</h2>
        <ul>
            <li><a href="https://github.com/smoukekiller">GitHub</a></li>
            <li><a href="https://t.me/ol_beatter">Telegram</a></li>
            <li><a href="https://www.instagram.com/antonvoziyan/">instagram</a></li>
            <li><a>Email:voziyananton@gmail.com</a></li>
        </ul>
    </div>
</body>
</html>