<!DOCTYPE html>
<html>
<head>
    <title>Voziyan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="topnav">
        <a href="{{home_url}}">home</a>
        <a href="{{about_url}}">about</a>
        <a class="active" href="">my projects</a>
        <a href="{{pictures_url}}">pictures</a>
        <a href="{{myroom_url}}">MyRoom</a>
    </div>
    <div class = "container">
        <ul>
            <li>
                <strong>Participating in a CanSat competition:</strong><br />
                <a href="https://www.esero.fi/finnish-cansat-competition-guidelines" target="_blank">Official page</a><br />
                <strong>GitHub links:</strong>
                <ul>
                    <li><a href="https://github.com/smoukekiller/cansat" target="_blank">Python script for visualizing data</a></li>
                    <li><a href="https://github.com/smoukekiller/cansat-ground-station" target="_blank">Script for ground station</a></li>
                    <li><a href="https://github.com/smoukekiller/cansat-satellite" target="_blank">Script for the satellite itself</a></li>
                </ul>
            </li>
            <li>
                <strong>MyRoom:</strong><br />
                A project that I created to learn more about communications and web development.<br />
                <strong>GitHub links:</strong>
                <ul>
                    <li><a href="https://github.com/smoukekiller/meteo-station-esp32" target="_blank">Code for ESP32 with DHT11 sensor</a></li>
                    <li><a href="https://github.com/smoukekiller/meteo-station-server" target="_blank">Server-side script that gets the data from the ESP</a></li>
                    <li><a href="https://github.com/smoukekiller/meteo-station-website" target="_blank">Main code with the website</a></li>
                </ul>
            </li>
            <li>
                <strong>This website</strong><br /> 
                First website that I've ever created, which allowed me to get started with web development<br />
                
                <ul> <li><a href="https://github.com/smoukekiller/my-website"><strong>GitHub</strong></a></li></ul>
            </li>
        </ul>
        
    </div>
</body>
</html>