<!DOCTYPE html>
<html>
<head>
    <title>Voziyan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="topnav">
        <a href="{{home_url}}">home</a>
        <a href="{{about_url}}">about</a>
        <a href="{{projects_url}}">my projects</a>
        <a class="active" href="">pictures</a>
        <a href="{{myroom_url}}">MyRoom</a>
    </div>
</body>
</html>